* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(2,1fr);
  background-image: linear-gradient(to right top,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1);
      overflow-y: scroll;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 302px;
  margin: auto;
  height: 302px;
  position: relative;
  border: 1px solid rgba(241, 241, 241, 0.309);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.152),
    2px 2px 5px rgba(0, 0, 0, 0.081);
}

.container span {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: rgba(13, 13, 21, 0.16);
  text-align: center;
  line-height: 140px;
}

.container .border-right-bottom {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.container .border-bottom {
  border-bottom: 3px solid black;
}

.container .border-right {
  border-right: 3px solid black;
}

.container span i {
  font-size: 65px;
}

.fa-xmark {
  text-shadow: 1px 1px rgb(218, 217, 217), -1px -1px rgb(218, 217, 217);
}

.fa-o {
  color: rgb(219, 1, 52);
  text-shadow: 1px 1px rgb(218, 217, 217), -1px -1px rgb(218, 217, 217);
}

.container-play {
  width: 100%;
  height: min-content;
  max-width: 18rem;
  margin: auto;
  text-align: center;
  border: 1px solid rgba(241, 241, 241, 0.309);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.144),
    2px 2px 5px rgba(0, 0, 0, 0.081);
}

.container-play .h2 {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
}

.container-play .span {
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  font-weight: bold;
  padding: 5px;
  color: rgb(206, 8, 8);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.128), -2px -2px rgba(0, 0, 0, 0.048);
}

.container-play .play-with-buttons {
  display: block;
  margin: 5px auto;
  width: 100px;
  height: 45px;
  font-size: 18px;
  font-weight: 600;
  background: #833ab4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  border-radius: 10px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
  border: 0;
  outline: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.258);
}

.container-play .play-with-buttons:hover {
  /* filter: invert(0.8); */
  background: #04d651;
  border: 2px solid #058a48;
  color: white;
  text-shadow: 2px 2px rgba(19, 18, 18, 0.258);
}

.container-play .message {
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
  opacity: 0.6;
}

.container-play .button-play {
  cursor: pointer;
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 55px;
  font-size: 21px;
  font-weight: 600;
  background-color: rgb(5, 229, 94);
  border-radius: 20px;
  box-shadow: 3px 7px;
  transition: all 0.5s;
}

.container-play .button-play:active {
  transform: translateY(5px);
  box-shadow: 1px 3px;
  background-color: rgb(0, 174, 70);
}

.streak {
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
  border-radius: 50px;
  position: absolute;
  outline: none;
  border: 0;
  box-shadow: 3px 3px 4px #00000052, -3px -3px 4px #00000094;
}

.streak-row-top {
  width: 100%;
  height: 5px;
  top: 18%;
}

.streak-row-center {
  width: 100%;
  height: 5px;
  top: 50%;
}

.streak-row-bottom {
  width: 100%;
  height: 5px;
  top: 83%;
}

.streak-column-left {
  width: 5px;
  height: 100%;
  left: 17%;
}

.streak-column-center {
  width: 5px;
  height: 100%;
}

.streak-column-right {
  width: 5px;
  height: 100%;
  left: 83%;
}

.streak-diagonal-A {
  width: 5px;
  height: 100%;
  transform: skew(45deg);
}

.streak-diagonal-B {
  width: 5px;
  height: 100%;
  transform: skew(-45deg);
}

.d-none {
  display: none;
}