* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  width: 100%;
  min-height: 100vmin;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #38ef7d, #11998e);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 302px;
  margin: auto;
  height: 302px;
  position: relative;
  border: 1px solid rgba(241, 241, 241, 0.309);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.144),
    2px 2px 5px rgba(0, 0, 0, 0.081);
}

.container span {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: rgba(16, 16, 18, 0.123);
  text-align: center;
  line-height: 140px;
}
.container span:nth-child(1) {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
.container span:nth-child(2) {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
.container span:nth-child(3) {
  border-bottom: 3px solid black;
}
.container span:nth-child(4) {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
.container span:nth-child(5) {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.container span:nth-child(6) {
  border-bottom: 3px solid black;
}

.container span:nth-child(7) {
  border-right: 3px solid black;
}

.container span:nth-child(8) {
  border-right: 3px solid black;
}

.container span i {
  font-size: 65px;
  font-weight: bold;
}
.fa-xmark {
  text-shadow: 1px 1px rgb(218, 217, 217), -1px -1px rgb(218, 217, 217);
}
.fa-o {
  color: rgb(219, 1, 52);
  text-shadow: 1px 1px rgb(218, 217, 217), -1px -1px rgb(218, 217, 217);
}
.container-play {
  width: 100%;
  height: min-content;
  max-width: 18rem;
  margin: auto;
  text-align: center;
  overflow: hidden;
  border: 1px solid rgba(241, 241, 241, 0.309);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.144),
    2px 2px 5px rgba(0, 0, 0, 0.081);
}

.container-play .h2 {
  display: inline-block;
  font-size: 36px;
}
.container-play .span {
  display: inline-block;
  font-size: 42px;
  font-weight: bold;
  color: rgb(206, 8, 8);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.128), -2px -2px rgba(0, 0, 0, 0.048);
}
.container-play .play-with-buttons {
  display: block;
  margin: 5px auto;
  width: 100px;
  height: 45px;
  font-size: 18px;
  font-weight: 600;
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); 
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); 
  border-radius: 10px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
  border: 0;
  outline: none;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.258);
}
.container-play .play-with-buttons:hover{
  filter: invert(1);
}
.container-play .message {
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
  opacity: 0.6;
}
.container-play .button-play {
  cursor: pointer;
  display: block;
  margin:20px auto;
  width: 200px;
  height: 55px;
  
  font-size: 21px;
  font-weight: 600;
  background-color: greenyellow;
  border-radius: 20px;
  box-shadow: 3px 7px;
  transition: all 0.2s;
}

.container-play .button-play:hover {
  transform: translateY(5px);
  background-color: rgb(63, 253, 63);
}

.srick {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50px;
  position: absolute;
  outline: none;
  border: 0;
  box-shadow: 3px 3px 4px #00000052, -3px -3px 4px #00000094;
}

.srick-row-top {
  width: 100%;
  height: 5px;
  top: 18%;
}

.srick-row-center {
  width: 100%;
  height: 5px;
  top: 50%;
}

.srick-row-bottom {
  width: 100%;
  height: 5px;
  top: 83%;
}

.srick-colomn-left {
  width: 5px;
  height: 100%;
  left: 17%;
}

.srick-colomn-center {
  width: 5px;
  height: 100%;
}

.srick-colomn-right {
  width: 5px;
  height: 100%;
  left: 83%;
}

.srick-diagonal-A {
  width: 5px;
  height: 100%;
  transform: skew(45deg);
}

.srick-diagonal-B {
  width: 5px;
  height: 100%;
  transform: skew(-45deg);
}
.d-none{
  display: none;
}
